body {
    font-family: Lucida Sans;
    background-color: black;
    color: darkred;
    margin: 0 auto;
    max-width: 40rem;
    padding: .75rem;
}

p {
    line-height: 3;
}

h2 {
    line-height: 4;
}

nav {
    display: flex;
    flex-direction: column;
    line-height: 3;
}

footer {
    text-align: center;
}