@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  max-width: 600px;
  margin: auto;
  padding: 12px;
	font-family: 'Poppins', sans-serif;
  background: lightgrey;
}

img{
  width: 100%;
}

p {
  line-height: 1.5;
}

h3 {
  color: red;
}

footer {
  text-align: center;
}